@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Unica+One&display=swap');

header{
	background: rgba( 2, 0, 36, 0.75 );
	box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
	backdrop-filter: blur( 20.0px );
	-webkit-backdrop-filter: blur( 20.0px );
	border-radius: 10px;
	border: 1px solid rgba( 255, 255, 255, 0.18 );

}

.card{
	background: rgba( 2, 0, 36, 0.75 );
	box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
	backdrop-filter: blur( 20.0px );
	-webkit-backdrop-filter: blur( 20.0px );
	border-radius: 10px;
	border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.modal-content{
	background: rgba( 255, 255, 255, 0.80 );
	box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
	backdrop-filter: blur( 20.0px );
	-webkit-backdrop-filter: blur( 20.0px );
	border-radius: 10px;
	border: 1px solid rgba( 255, 255, 255, 0.18 );
}

h1{
	font-family: 'Unica One', bold;
	font-size: 40px;
	color: #0ad57a;
}

a{
	color: #FFFFFF;
}

p{
	font-family: 'Unica One';
	font-size: 30px;
		color: #FFFFFF;
}

p2{
	font-family: 'Cutive Mono';
	font-size: 20px;
		color: #FFFFFF;
}

 body{
	 background: rgb(2,0,36);
	 background: linear-gradient(-45deg, rgba(2,0,36,1) 15%, rgba(10,213,122,1) 81%, rgba(83,255,182,1) 100%);
}

footer{
	background: #000000
}
